<section class="overflow-hidden relative">
  <div class="px-8 py-12 mx-auto md:px-12 lg:py-24 lg:px-36 max-w-7xl">
    <div
      class="lg:text-center max-w-3xl lg:mx-auto"
      data-aos="fade-up"
      data-aos-duration="2000">
      <h3 class="text-4xl text-white font-display">Membership benefits</h3>
      <p class="text-onyx-300 mt-4">
        Perks so good you'll never need to go
        <span class="md:block"> anywhere else for your design. Seriously.</span>
      </p>
    </div>
    <div
      class="grid grid-cols-2 gap-6 lg:grid-cols-3 lg:gap-x-6 mt-24 lg:gap-y-24 lg:text-center">
      <div class="pb-4 border-b border-onyx-800">
        <div>
          <div
            data-aos="fade-right"
            data-aos-duration="2000"
            class="flex items-center justify-center w-16 h-16 text-blue-300 rounded-xl bg-gradient-to-tr from-onyx-950 to-onyx-700 lg:mx-auto border border-onyx-800 shadow-massive">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              focusable="false"
              preserveAspectRatio="xMidYMid meet"
              fill="currentColor"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              aria-hidden="true">
              <path
                d="M26,4V28H6V4H26m0-2H6A2,2,0,0,0,4,4V28a2,2,0,0,0,2,2H26a2,2,0,0,0,2-2V4A2,2,0,0,0,26,2Z"
              ></path>
              <path
                d="M9 23H11V25H9zM21 23H23V25H21zM9 18H11V20H9zM21 18H23V20H21zM9 13H11V15H9zM15 23H17V25H15zM15 18H17V20H15zM15 13H17V15H15zM21 13H23V15H21zM9 7H23V10H9z"
              ></path>
              <title>Calculator</title>
            </svg>
          </div>
          <p class="mt-12 text-xl font-medium leading-6 text-white">
            Calculable Monthly Costs
          </p>
        </div>
        <p class="mt-4 text-base text-onyx-300">
          Replaces a web department, agency or freelancer with a simple monthly
          fee, without any hidden fees or contracts.
        </p>
      </div>
      <div class="pb-4 border-b border-onyx-800">
        <div>
          <div
            data-aos="fade-down"
            data-aos-duration="2000"
            class="flex items-center justify-center w-16 h-16 text-blue-300 rounded-xl bg-gradient-to-tr from-onyx-950 to-onyx-700 lg:mx-auto border border-onyx-800 shadow-massive">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              focusable="false"
              preserveAspectRatio="xMidYMid meet"
              fill="currentColor"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              aria-hidden="true">
              <path
                d="M16,30A14,14,0,1,1,30,16,14,14,0,0,1,16,30ZM16,4A12,12,0,1,0,28,16,12,12,0,0,0,16,4Z"
              ></path>
              <path d="M20.59 22L15 16.41 15 7 17 7 17 15.58 22 20.59 20.59 22z"
              ></path>
              <title>Time</title>
            </svg>
          </div>
          <p class="mt-12 text-xl font-medium leading-6 text-white">
            Get 24/7 Control
          </p>
        </div>
        <p class="mt-4 text-base text-onyx-300">
          Submit as many requests you like. We will adapt respectively and work
          on them one by one as you submit them.
        </p>
      </div>
      <div class="pb-4 border-b border-onyx-800">
        <div>
          <div
            data-aos="fade-left"
            data-aos-duration="2000"
            class="flex items-center justify-center w-16 h-16 text-blue-300 rounded-xl bg-gradient-to-tr from-onyx-950 to-onyx-700 lg:mx-auto border border-onyx-800 shadow-massive">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              focusable="false"
              preserveAspectRatio="xMidYMid meet"
              fill="currentColor"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              aria-hidden="true">
              <path d="M4 16H16V18H4zM2 11H12V13H2z"></path>
              <path
                d="M29.9189,16.6064l-3-7A.9985.9985,0,0,0,26,9H23V7a1,1,0,0,0-1-1H6V8H21V20.5562A3.9924,3.9924,0,0,0,19.1421,23H12.8579a4,4,0,1,0,0,2h6.2842a3.9806,3.9806,0,0,0,7.7158,0H29a1,1,0,0,0,1-1V17A.9965.9965,0,0,0,29.9189,16.6064ZM9,26a2,2,0,1,1,2-2A2.0023,2.0023,0,0,1,9,26ZM23,11h2.3408l2.1431,5H23Zm0,15a2,2,0,1,1,2-2A2.0023,2.0023,0,0,1,23,26Zm5-3H26.8579A3.9954,3.9954,0,0,0,23,20V18h5Z"
              ></path>
              <title>Delivery</title>
            </svg>
          </div>
          <p class="mt-12 text-xl font-medium leading-6 text-white">
            Fast & Professional
          </p>
        </div>
        <p class="mt-4 text-base text-onyx-300">
          With more than 5 years experience in the web industry and more than
          100k customers we deliver high quality.
        </p>
      </div>
      <div class="pb-4 border-b border-onyx-800">
        <div>
          <div
            data-aos="fade-right"
            data-aos-duration="2000"
            class="flex items-center justify-center w-16 h-16 text-blue-300 rounded-xl bg-gradient-to-tr from-onyx-950 to-onyx-700 lg:mx-auto border border-onyx-800 shadow-massive">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              focusable="false"
              preserveAspectRatio="xMidYMid meet"
              fill="currentColor"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              aria-hidden="true">
              <path
                d="M30,10.68l-2-6A1,1,0,0,0,27,4H5a1,1,0,0,0-1,.68l-2,6A1.19,1.19,0,0,0,2,11v6a1,1,0,0,0,1,1H4V28H6V18h6V28H28V18h1a1,1,0,0,0,1-1V11A1.19,1.19,0,0,0,30,10.68ZM26,26H14V18H26Zm2-10H24V12H22v4H17V12H15v4H10V12H8v4H4V11.16L5.72,6H26.28L28,11.16Z"
              ></path>
              <title>Store</title>
            </svg>
          </div>
          <p class="mt-12 text-xl font-medium leading-6 text-white">
            Spend Time on yur business
          </p>
        </div>
        <p class="mt-4 text-base text-onyx-300">
          Simple communication in email or Slack.
        </p>
      </div>
      <div class="pb-4 border-b border-onyx-800">
        <div>
          <div
            data-aos="fade-up"
            data-aos-duration="2000"
            class="flex items-center justify-center w-16 h-16 text-blue-300 rounded-xl bg-gradient-to-tr from-onyx-950 to-onyx-700 lg:mx-auto border border-onyx-800 shadow-massive animate__fadeInUp animate__animated animate__slow 2s">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              focusable="false"
              preserveAspectRatio="xMidYMid meet"
              fill="currentColor"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              aria-hidden="true">
              <path
                d="M12 8V24H8V8h4m0-2H8A2 2 0 006 8V24a2 2 0 002 2h4a2 2 0 002-2V8a2 2 0 00-2-2zM24 8V24H20V8h4m0-2H20a2 2 0 00-2 2V24a2 2 0 002 2h4a2 2 0 002-2V8a2 2 0 00-2-2z"
              ></path>
              <title>Pause</title>
            </svg>
          </div>
          <p class="mt-12 text-xl font-medium leading-6 text-white">
            Flexibility is important
          </p>
        </div>
        <p class="mt-4 text-base text-onyx-300">
          Pause or cancel your plan anytime. No long-term contracts or
          inexpected fees.
        </p>
      </div>
      <div class="pb-4 border-b border-onyx-800">
        <div>
          <div
            data-aos="fade-left"
            data-aos-duration="2000"
            class="flex items-center justify-center w-16 h-16 text-blue-300 rounded-xl bg-gradient-to-tr from-onyx-950 to-onyx-700 lg:mx-auto border border-onyx-800 shadow-massive animate__fadeInBottomRight animate__animated animate__slow 2s">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              focusable="false"
              preserveAspectRatio="xMidYMid meet"
              fill="currentColor"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              aria-hidden="true">
              <path
                d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Zm0,26A12,12,0,1,1,28,16,12,12,0,0,1,16,28Z"
              ></path>
              <path
                d="M11.5 11A2.5 2.5 0 1014 13.5 2.48 2.48 0 0011.5 11zM20.5 11A2.5 2.5 0 1023 13.5 2.48 2.48 0 0020.5 11zM16 24a8 8 0 006.85-3.89l-1.71-1a6 6 0 01-10.28 0l-1.71 1A8 8 0 0016 24z"
              ></path>
              <title>Face satisfied</title>
            </svg>
          </div>
          <p class="mt-12 text-xl font-medium leading-6 text-white">
            Satisfaction Guarantee
          </p>
        </div>
        <p class="mt-4 text-base text-onyx-300">
          Not happy with the result? Get your money back in your first month.
        </p>
      </div>
    </div>
  </div>
</section>
