<section class="relative overflow-hidden">
  <div
    class="absolute inset-x-0 top-0 h-96 rotate-180 text-gray-500/20 opacity-60 [mask-image:linear-gradient(to_bottom,transparent,white)]">
    <svg
      class="absolute inset-0 h-full w-full"
      xmlns="http://www.w3.org/2000/svg"
      ><defs
        ><pattern
          id="grid-pattern"
          width="32"
          height="32"
          patternUnits="userSpaceOnUse"
          x="50%"
          y="100%"
          patternTransform="translate(0 -1)"
          ><path d="M0 32V.5H32" fill="none" stroke="currentColor"
          ></path></pattern
        ></defs
      ><rect width="100%" height="100%" fill="url(#grid-pattern)"></rect></svg
    >
  </div>
  <div
    class="px-8 pt-32 pb-24 mx-auto md:px-12 lg:px-36 lg:pt-64 max-w-7xl relative">
    <div
      class="text-center mx-auto"
      data-aos="fade-down"
      data-aos-duration="3000">
      <h1 class="text-4xl lg:text-5xl text-white font-display">
        Web development subscriptions<span class="md:block text-onyx-400">
          to scale your life and business.</span
        >
      </h1>
      <p class="text-onyx-300 mt-4">A design agency without a twist</p>
      <div class="flex flex-wrap gap-3 mt-12 justify-center">
        <a
          class="inline-flex items-center justify-center w-full sm:w-auto px-6 py-3 text-sm text-center duration-500 ease-in-out transform text-onyx-950-700 rounded-xl bg-gradient-to-tr shadow-massive from-indigo-500 via-indigo-400 to-indigo-300 hover:to-indigo-400 focus:outline-none focus:ring-2 focus:ring-offset-onyx-900 focus:ring-offset-2 focus:ring-indigo-300 hover:shadow-none"
          href="/">See all pages</a
        >
        <a
          class="inline-flex items-center justify-center w-full sm:w-auto px-6 py-3 text-sm text-center text-onyx-300 duration-500 ease-in-out transform border border-onyx-800 bg-onyx-900 rounded-xl shadow-massive focus:outline-none focus:ring-2 hover:text-blue-300 focus:ring-offset-2 focus:ring-onyx-300 hover:shadow-none focus:ring-offset-onyx-900"
          href="#benefits"
          >Buy Aubergine
        </a>
      </div>
    </div>
  </div>
</section>
