<section class="overflow-hidden relative">
  <div class="px-8 py-12 mx-auto md:px-12 lg:py-24 lg:px-36 max-w-7xl">
    <div data-aos="fade-up" data-aos-duration="2000">
      <h3 class="text-4xl text-white font-display">
        We can do many things for you,<span class="md:block text-onyx-400">
          but this is what we do best</span
        >
      </h3>
    </div>
    <ul class="grid grid-cols-2 sm:grid-cols-2 order-y py-6 mt-12 border-onyx-800 md:grid-cols-4 gap-4">
      <li>
        <p class="text-base text-onyx-300">Websites</p>
      </li>
      <li>
        <p class="text-base text-onyx-300">Mobile Apps</p>
      </li>
      <li>
        <p class="text-base text-onyx-300">Logos &amp; branding</p>
      </li>
      <li>
        <p class="text-base text-onyx-300">Design systems</p>
      </li>
      <li>
        <p class="text-base text-onyx-300">SAAS</p>
      </li>
      <li>
        <p class="text-base text-onyx-300">Wireframes</p>
      </li>
      <li>
        <p class="text-base text-onyx-300">Stationary</p>
      </li>
      <li>
        <p class="text-base text-onyx-300">Pitch decks</p>
      </li>

      <li>
        <p class="text-base text-onyx-300">Slide decks</p>
      </li>
      <li>
        <p class="text-base text-onyx-300">Direct mail</p>
      </li>
      <li>
        <p class="text-base text-onyx-300">Infographics</p>
      </li>
      <li>
        <p class="text-base text-onyx-300">Brochures</p>
      </li>
      <li>
        <p class="text-base text-onyx-300">Signage</p>
      </li>
      <li>
        <p class="text-base text-onyx-300">Brand guides</p>
      </li>
      <li>
        <p class="text-base text-onyx-300">Social media graphics</p>
      </li>
      <li>
        <p class="text-base text-onyx-300">Billboards</p>
      </li>
      <li>
        <p class="text-base text-onyx-300">Trade show banners</p>
      </li>
      <li>
        <p class="text-base text-onyx-300">Email graphics</p>
      </li>
      <li>
        <p class="text-base text-onyx-300">Resumes</p>
      </li>
      <li>
        <p class="text-base text-onyx-300">Business cards</p>
      </li>
      <li>
        <p class="text-base text-onyx-300">Packaging</p>
      </li>
      <li>
        <p class="text-base text-onyx-300">Blog graphics</p>
      </li>
      <li>
        <p class="text-base text-onyx-300">Digital ads</p>
      </li>
      <li>
        <p class="text-base text-onyx-300">Icons</p>
      </li>
    </ul>
    
  </div>
</section>
