<section class="overflow-hidden relative">
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-36 max-w-7xl">
    <div data-aos="fade-up" data-aos-duration="2000">
      <h3 class="text-4xl text-white font-display">
        We did reinvented the <span class="md:block text-onyx-500"
          >wheel and also just design</span
        >
      </h3>
    </div>
    <div class="mt-24">
      <div class="relative flex flex-wrap">
        <div class="absolute top-8 left-0 right-0 hidden lg:block h-[1px] -z-1">
          <div
            class="h-[1px] w-full bg-blue-300"
            data-aos="fade-left"
            data-aos-duration="3000">
            &zwnj;
          </div>
        </div>
        <div class="grid grid-cols-2 gap-6 lg:grid-cols-4 relative">
          <div class="w-full pb-4 border-b border-onyx-800">
            <span
              data-aos="fade-down"
              data-aos-duration="500"
              class="flex items-center justify-center w-16 h-16 mb-5 lg:mb-16 text-blue-300 rounded-xl border bg-gradient-to-tr from-onyx-950 to-onyx-700 border-onyx-800 shadow-massive"
              >1</span
            >
            <div>
              <p class="mt-12 text-xl font-medium leading-6 text-white">
                Submit
              </p>
              <p class="mt-4 text-base text-onyx-300">
                Subscribe to a plan & request as many designs as you'd like.
              </p>
            </div>
          </div>
          <div class="w-full pb-4 border-b border-onyx-800">
            <span
              data-aos="fade-down"
              data-aos-duration="1000"
              class="flex items-center justify-center w-16 h-16 mb-5 lg:mb-16 text-blue-300 rounded-xl border bg-gradient-to-tr from-onyx-950 to-onyx-700 border-onyx-800 shadow-massive"
              >2</span
            >
            <div>
              <p class="mt-12 text-xl font-medium leading-6 text-white">
                Refine
              </p>
              <p class="mt-4 text-base text-onyx-300">
                Receive your design within a few business days on average.
              </p>
            </div>
          </div>
          <div class="w-full pb-4 border-b border-onyx-800">
            <span
              data-aos="fade-down"
              data-aos-duration="1500"
              class="flex items-center justify-center w-16 h-16 mb-5 lg:mb-16 text-blue-300 rounded-xl border bg-gradient-to-tr from-onyx-950 to-onyx-700 border-onyx-800 shadow-massive"
              >3</span
            >
            <div>
              <p class="mt-12 text-xl font-medium leading-6 text-white">
                Build
              </p>
              <p class="mt-4 text-base text-onyx-300">
                We'll revise the designs until you're 100% satisfied.
              </p>
            </div>
          </div>
          <div class="w-full pb-4 border-b border-onyx-800">
            <span
              data-aos="fade-down"
              data-aos-duration="2500"
              class="flex items-center justify-center w-16 h-16 mb-5 lg:mb-16 text-blue-300 rounded-xl border bg-gradient-to-tr from-onyx-950 to-onyx-700 border-onyx-800 shadow-massive"
              style="box-shadow: #5576F9 0px 0px 0px 3px, #7C96FA80 0px 0px 0px 6px;"
              >4</span
            >
            <div>
              <p class="mt-12 text-xl font-medium leading-6 text-white">
                Enjoy
              </p>
              <p class="mt-4 text-base text-onyx-300">
                Enjoy your marvellous new website!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      data-aos="fade-up"
      data-aos-duration="2000"
      class="text-center ring-1 ring-onyx-800 border bg-gradient-to-tr from-onyx-950 to-onyx-700 border-onyx-800 shadow-big h-full lg:col-span-full lg:p-20 mt-24 p-8 rounded-4xl relative">
      <h4 class="lg:text-3xl text-white font-display">
        "Aubergine Studio are a rare breed of designers
        <span class="md:block"
          >and developers they understands business needs."</span
        >
      </h4>
      <p class="text-onyx-300 text-xl mt-6 italic uppercase">
        Gerard Depardieu
      </p>
    </div>
    <div
      class="grid grid-cols-1 gap-6 lg:grid-cols-3 lg:gap-x-6 mt-24 lg:text-center">
      <div class="pb-4 border-b border-onyx-800">
        <p class="text-xl font-medium leading-6 text-white">Totally async</p>
        <p class="mt-4 text-base text-onyx-300">
          Don't like meetings? We don't either; so much so that we've outlawed
          them.
        </p>
      </div>
      <div class="pb-4 border-b border-onyx-800">
        <p class="text-xl font-medium leading-6 text-white">
          Manage with Trello
        </p>
        <p class="mt-4 text-base text-onyx-300">
          Manage your design board using Trello. View active, queued and
          completed tasks.
        </p>
      </div>
      <div class="pb-4 border-b border-onyx-800">
        <p class="text-xl font-medium leading-6 text-white">
          Invite unlimited team members
        </p>
        <p class="mt-4 text-base text-onyx-300">
          Invite your entire team, so anyone can submit requests and track their
          progress.
        </p>
      </div>
    </div>
  </div>
</section>
