<section class="overflow-hidden">
  <div class="px-8 py-12 mx-auto md:px-12 lg:py-24 lg:px-36 max-w-7xl">
    <div class="text-center max-w-3xl lg:mx-auto">
      <h3 class="text-4xl text-white font-display">
        We have worked with the creme of the
        <span class="md:block text-onyx-400"
          >crop and this is what they have to say</span
        >
      </h3>
    </div>
    <ul
      role="list"
      class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 mt-12">
      <li class="hidden lg:block">
        <figure
          class="h-full p-4 lg:p-8 rounded-3xl bg-gradient-to-tr from-onyx-950 to-onyx-700 border border-onyx-800 shadow-massive">
          <div class="h-full group flex flex-col justify-between">
            <div>
              <span class="text-sm font-medium leading-6 text-white">
                Amrit Nagi
              </span>
              <p>
                <a
                  class="text-sm text-onyx-300 group-hover:text-blue-300"
                  href="#">Founder of Tailwind Toolbox</a
                >
              </p>
            </div>
            <blockquote class="mt-12 space-y-3">
              <p class="text-sm text-onyx-300">
                “The Lorem Ipsum Company has been an integral part of our
                content marketing success. We have seen a notable increase in
                organic leads since we began using their services in 2012.”
              </p>
            </blockquote>
          </div>
        </figure>
      </li>
      <li class="lg:col-span-2">
        <figure
          class="h-full p-4 lg:p-8 rounded-3xl bg-gradient-to-tr from-onyx-950 to-onyx-700 border border-onyx-800 shadow-massive">
          <div class="h-full group flex flex-col justify-between">
            <figcaption
              class="flex gap-4 pb-6 flex-col md:flex-row lg:items-center">
              <div class="overflow-hidden lg:p-2">
                <img
                  alt="codeboje"
                  src="https://d33wubrfki0l68.cloudfront.net/cabc8d70a84f6d78e56c5cd2db3f54ab6462325d/95045/images/testimonials/gabi.jpeg"
                  width="56"
                  height="56"
                  decoding="async"
                  data-mining="future"
                  class="object-cover rounded-full h-20 w-20 grayscale shrink-0"
                  loading="lazy"
                />
              </div>
              <div>
                <span
                  class="text-sm lg:text-lg font-medium leading-6 text-white">
                  Gabriel Perales
                </span>
                <p>
                  <a
                    class="text-sm text-onyx-300 group-hover:text-blue-300"
                    href="#">Software Engineer at Cabify</a
                  >
                </p>
              </div>
            </figcaption>
            <blockquote class="mt-2">
              <p class="text-sm lg:text-lg text-onyx-300">
                Aubergine has helped me with many designs, and I couldn't follow
                his working speed when we worked together. His designs are
                slick, and he delivers a lot of value; he is constantly
                iterating his designs improving.
              </p>
            </blockquote>
          </div>
        </figure>
      </li>
      <li class="lg:col-span-2">
        <figure
          class="h-full p-4 lg:p-8 rounded-3xl bg-gradient-to-tr from-onyx-950 to-onyx-700 border border-onyx-800 shadow-massive relative">
          <div class="h-full group flex flex-col justify-between relative">
            <figcaption
              class="flex gap-4 pb-6 flex-col md:flex-row lg:items-center">
              <div class="overflow-hidden lg:p-2">
                <img
                  alt=""
                  src="https://pbs.twimg.com/profile_images/1039477099768295424/DkFxqf2V_400x400.jpg"
                  width="56"
                  height="56"
                  decoding="async"
                  data-mining="future"
                  class="object-cover rounded-full h-20 w-20 grayscale shrink-0"
                  loading="lazy"
                />
              </div>
              <div>
                <span
                  class="text-sm lg:text-lg font-medium leading-6 text-white">
                  Volkan Kaya
                </span>
                <p>
                  <a
                    class="text-sm text-onyx-300 group-hover:text-blue-300"
                    href="#">Founder of Versoly.com</a
                  >
                </p>
              </div>
            </figcaption>
            <blockquote class="mt-2">
              <p class="text-sm lg:text-lg text-onyx-300">
                Aubergine is a rare breed of designer & developer that
                understands business needs. He leveraged his previous experience
                to build out a few landing pages very quickly for Versoly.
              </p>
            </blockquote>
          </div>
        </figure>
      </li>
      <li class="hidden lg:block">
        <figure
          class="h-full p-4 lg:p-8 rounded-3xl bg-gradient-to-tr from-onyx-950 to-onyx-700 border border-onyx-800 shadow-massive">
          <div class="h-full group flex flex-col justify-between">
            <div>
              <span class="text-sm font-medium leading-6 text-white">
                Tony Lea
              </span>
              <p>
                <a
                  class="text-sm text-onyx-300 group-hover:text-blue-300"
                  href="#">Founder DevDojo</a
                >
              </p>
            </div>
            <blockquote class="mt-12 space-y-3">
              <p class="text-sm text-onyx-300">
                Aubergine has a great eye for design and he is an absolute
                pleasure to work with. I definitely plan on working with him on
                future projects of mine. I wholeheartedly recommend him to
                anyone seeking standout, quality work.
              </p>
            </blockquote>
          </div>
        </figure>
      </li>
    </ul>
  </div>
</section>
