<section id="services" class="overflow-hidden relative">
  <div class="px-8 py-12 mx-auto md:px-12 lg:py-24 lg:px-36 max-w-7xl">
    <div data-aos="fade-up" data-aos-duration="2000">
      <h3 class="text-4xl text-white font-display">
        Choose Your Training <span class="md:block text-onyx-400 text-sm">Or Contact Us and We Will Evaluate Your Skills And Choose Training That Suits You</span>
      </h3>
      <!-- <div class="flex flex-wrap mt-12">
        <a
          class="inline-flex items-center justify-center w-full sm:w-auto px-6 py-3 text-sm text-center text-onyx-300 duration-500 ease-in-out transform border border-onyx-800 bg-onyx-900 rounded-xl focus:outline-none focus:ring-2 hover:text-blue-300 focus:ring-offset-2 focus:ring-onyx-300 focus:ring-offset-onyx-900"
          href="/work/home"
          >See all our work
        </a>
      </div> -->
    </div>
    <ul
        role="list"
        class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-24">
      <li>
        <figure class="relative h-full p-8 rounded-3xl bg-gradient-to-tr from-onyx-950 to-onyx-700 border border-onyx-800 shadow-massive transition-transform duration-300 ease-out hover:scale-105">

          <div class="h-full flex flex-col justify-between">
            <a href="/services/a4q-parctical-tester" class="block">
              <h2 class="text-4xl text-white font-display">A4Q Practical Tester</h2>
              <p class="text-onyx-300 mt-4">Our accredited course, led by a certified lecturer, will prepare you for the exam and elevate your manual testing skills in just 15 sessions.</p>
            </a>
            <div class="flex items-center mt-24 gap-4">
              <a
                  href="/contactform"
                  class="font-bold inline-flex items-center justify-center w-full sm:w-auto px-6 py-3 text-sm text-center text-onyx-100 duration-500 ease-in-out transform bg-gradient-to-r from-onyx-800 to-onyx-600 rounded-full shadow-lg border border-white hover:from-onyx-600 hover:to-onyx-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-onyx-500 focus:ring-offset-onyx-900">
                REGISTER NOW
              </a>
              <a
                  href="/services/a4q-parctical-tester"
                  class="font-bold inline-flex items-center justify-center w-full sm:w-auto px-6 py-3 text-sm text-center text-onyx-100 duration-500 ease-in-out transform bg-gradient-to-r from-onyx-800 to-onyx-600 rounded-full shadow-lg border border-white hover:from-onyx-600 hover:to-onyx-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-onyx-500 focus:ring-offset-onyx-900">
                MORE INFO
              </a>
            </div>

          </div>
          <div class="absolute bottom-[-60px] right-[-37px]">
            <img src="/logos/accredited_logo.png" alt="Accredited Icon" class="h-40 w-40">
          </div>
        </figure>
      </li>
    </ul>
  </div>
</section>
