<div class="py-24 bg-gradient-to-t from-onyx-950 fixed bottom-0 z-50 w-full">
</div>

a<section class="relative overflow-hidden">
  <div
    class="absolute inset-x-0 top-0 h-96 rotate-180 text-gray-500/20 opacity-60 [mask-image:linear-gradient(to_bottom,transparent,white)]">
    <svg
      class="absolute inset-0 h-full w-full"
      xmlns="http://www.w3.org/2000/svg"
      ><defs
        ><pattern
          id="grid-pattern"
          width="32"
          height="32"
          patternUnits="userSpaceOnUse"
          x="50%"
          y="100%"
          patternTransform="translate(0 -1)"
          ><path d="M0 32V.5H32" fill="none" stroke="currentColor"
          ></path></pattern
        ></defs
      ><rect width="100%" height="100%" fill="url(#grid-pattern)"></rect></svg
    >
  </div>
  <div
    class="px-8 pt-32 pb-24 mx-auto md:px-12 lg:px-36 lg:pt-64 max-w-7xl relative">
    <div
      class="text-center mx-auto"
      data-aos="fade-down"
      data-aos-duration="3000">
      <h1 class="text-4xl lg:text-6xl text-white font-display">
        Frequent questions <span class="md:block text-onyx-400"
          >and frequent answers</span
        >
      </h1>
      <p class="text-onyx-300 mt-4">A design agency without a twist</p>
    </div>
  </div>
</section>

<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-36 max-w-7xl">
    <dl class="space-y-12 max-w-2xl mx-auto divide-y divide-onyx-800">
      <div class="h-full lg:grid lg:grid-cols-2 pt-12 gap-12">
        <dt class="text-lg font-medium leading-6 text-white">
          How quick will I get my landing page?
        </dt>
        <dd class="mt-4 space-y-6 lg:mt-0">
          <p class="text-base text-onyx-300">
            Considering industry standards, we are quick. Usually we deliver a
            full working website within 14 days. It will always depending on the
            scope of your project. Bigger projects can take to one month or
            more.
          </p>
          <p class="text-base text-onyx-300">
            After your site is ready to deploy we will host your website on
            Versoly, you can get the code or simply deploy with Versoly.
          </p>
          <p class="text-base text-onyx-300">
            If you need edits afterwards, just subscribe to the Maintenance plan
            and If you won't need any changes right after publishin, enjoy zero
            costs for hosting.
          </p>
        </dd>
      </div>
      <div class="h-full lg:grid lg:grid-cols-2 pt-12 gap-12">
        <dt class="text-lg font-medium leading-6 text-white">
          Is it there any limited amount of requests I can submit?
        </dt>
        <dd class="mt-4 space-y-6 lg:mt-0">
          <p class="text-base text-onyx-300">
            Aubergine Is unlimited, which means you can submit as many requests
            you want. We will deliver one by one and prioritise respectively the
            list in Slack.
          </p>
        </dd>
      </div>
      <div class="h-full lg:grid lg:grid-cols-2 pt-12 gap-12">
        <dt class="text-lg font-medium leading-6 text-white">
          Which project management tool are you using?
        </dt>
        <dd class="mt-4 space-y-6 lg:mt-0">
          <p class="text-base text-onyx-300">
            We use Slack Channel to manage projects, once we get to work you
            will be added to the your own private workspace.
          </p>
        </dd>
      </div>
      <div class="h-full lg:grid lg:grid-cols-2 pt-12 gap-12">
        <dt class="text-lg font-medium leading-6 text-white">
          Do you offer hosting?
        </dt>
        <dd class="mt-4 space-y-6 lg:mt-0">
          <p class="text-base text-onyx-300">
            Aubergine does not offeres hosting but, Versoly's all plans include
            hosting. They host your site on AWS and use advanced features to
            make sure your site is fast, secure and always up.
          </p>
        </dd>
      </div>
      <div class="h-full lg:grid lg:grid-cols-2 pt-12 gap-12">
        <dt class="text-lg font-medium leading-6 text-white">
          What if I am not happy with the deliveries?
        </dt>
        <dd class="mt-4 space-y-6 lg:mt-0">
          <p class="text-base text-onyx-300">
            I offer a 7-day 100% Money-back-guarantee. This means you have
            enough time to test out the service and see if we could be a good
            fit. You can cancel your plan at any time, with the click of a
            button - no contracts, no surprises.
          </p>
        </dd>
      </div>
      <div class="h-full lg:grid lg:grid-cols-2 pt-12 gap-12">
        <dt class="text-lg font-medium leading-6 text-white">
          What tools you use for building websites?
        </dt>
        <dd class="mt-4 space-y-6 lg:mt-0">
          <p class="text-base text-onyx-300">We build websites with Versoly.</p>
        </dd>
      </div>
      <div class="h-full lg:grid lg:grid-cols-2 pt-12 gap-12">
        <dt class="text-lg font-medium leading-6 text-white">
          What if my project has way more complexity than a landing page site?
        </dt>
        <dd class="mt-4 space-y-6 lg:mt-0">
          <p class="text-base text-onyx-300">
            We only build high converting landing pages.
          </p>
        </dd>
      </div>
      <div class="h-full lg:grid lg:grid-cols-2 pt-12 gap-12">
        <dt class="text-lg font-medium leading-6 text-white">
          What if I only have one request or small multiple ones?
        </dt>
        <dd class="mt-4 space-y-6 lg:mt-0">
          <p class="text-base text-onyx-300">
            Just subscribe to the Redesign plan and pause when the requests are
            done. Resubscribe as soon as you have new ones.
          </p>
        </dd>
      </div>
    </dl>
  </div>
</section>
