---
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/global/Navigation.astro";
import Footer from "@/components/global/Footer.astro";
---

<html lang="en" class="selection:bg-blue-500 selection:text-white scroll-smooth">
  <head>
    <BaseHead />
  </head>
  <body class="bg-onyx-950">
    <Navigation />
    <slot />
    <Footer />
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"
    ></script>
    <script type="text/javascript">
      AOS.init();
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.8.0/vanilla-tilt.min.js"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
      //https://micku7zu.github.io/vanilla-tilt.js/
      VanillaTilt.init(document.querySelectorAll(".tilt-card"), {
        max: 35, // max tilt rotation (degrees)
        speed: 2500, // Speed of the enter/exit transition
        transition: true, // Set a transition on enter/exit.
      });
    </script>
    <!-- Cal element-click embed code begins -->
    <script type="text/javascript">
      (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; typeof namespace === "string" ? (cal.ns[namespace] = api) && p(api, ar) : p(cal, ar); return; } p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
    Cal("init",  {origin:"https://cal.com"});
    Cal("ui", {"theme":"dark","styles":{"branding":{"brandColor":"#2B2A35"}},"hideEventTypeDetails":true,"layout":"month_view"});
    </script>
    <!-- Cal element-click embed code ends -->
  </body>
</html>
