---
import BaseHead from "@/components/BaseHead.astro";
---

<html lang="en" class="selection:bg-blue-500 selection:text-white">
  <head>
    <BaseHead />
  </head>
  <body class="bg-onyx-950">
    <slot />
  </body>
</html>
