a<section class="relative overflow-hidden">
  <div
    class="absolute inset-x-0 top-0 h-96 rotate-180 text-gray-500/20 opacity-60 [mask-image:linear-gradient(to_bottom,transparent,white)]">
    <svg
      class="absolute inset-0 h-full w-full"
      xmlns="http://www.w3.org/2000/svg"
      ><defs
        ><pattern
          id="grid-pattern"
          width="32"
          height="32"
          patternUnits="userSpaceOnUse"
          x="50%"
          y="100%"
          patternTransform="translate(0 -1)"
          ><path d="M0 32V.5H32" fill="none" stroke="currentColor"
          ></path></pattern
        ></defs
      ><rect width="100%" height="100%" fill="url(#grid-pattern)"></rect></svg
    >
  </div>
  <div
    class="px-8 pt-32 pb-24 mx-auto md:px-12 lg:px-36 lg:pt-64 max-w-7xl relative">
    <div data-aos="fade-up" data-aos-duration="2000">
      <h3 class="text-4xl text-white font-display">
        We can do many things for you,<span class="md:block text-onyx-400">
          but this is what we do best</span
        >
      </h3>
    </div>
    <div class="border-y py-6 mt-12 border-onyx-800">
      <div class="grid grid-cols-2 gap-12 lg:grid-cols-5 md:grid-cols-3">
        <div class="text-base mt-10" aria-label="quick links">
          <div class="flex flex-col justify-start">
            <p class="text-xl font-medium leading-6 text-white">
              Landing Pages
            </p><a
              class="text-base hover:text-blue-300 text-onyx-300 lg:py-0 mt-2 py-2"
              href="/"
              >Landing Page One
            </a>
            <p class="text-xl font-medium leading-6 text-white mt-12">Work</p><a
              class="text-base hover:text-blue-300 text-onyx-300 lg:py-0 mt-2 py-2"
              href="/work/home"
              >Work home
            </a>
            <a
              class="text-base hover:text-blue-300 text-onyx-300 lg:py-0 mt-2 py-2"
              href="/work/case-study"
              >Case Study
            </a>
          </div>
        </div><div class="text-base mt-10" aria-label="quick links">
          <div class="flex flex-col justify-start">
            <p class="text-xl font-medium leading-6 text-white">Blog Pages</p>
            <a
              class="text-base hover:text-blue-300 text-onyx-300 lg:py-0 mt-2 py-2"
              href="/blog/blog"
              >Blog home 1
            </a>
            <a
              class="text-base hover:text-blue-300 text-onyx-300 lg:py-0 mt-2 py-2"
              href="/blog/blog-two"
              >Blog home 2
            </a>
            <a
              class="text-base hover:text-blue-300 text-onyx-300 lg:py-0 mt-2 py-2"
              href="/blog/blog-three"
              >Blog home 3
            </a>
            <a
              class="text-base hover:text-blue-300 text-onyx-300 lg:py-0 mt-2 py-2"
              href="/posts/1"
              >Blog Post
            </a><a
              class="text-base hover:text-blue-300 text-onyx-300 lg:py-0 mt-2 py-2"
              href="/tags"
              >Tags Index
            </a><a
              class="text-base hover:text-blue-300 text-onyx-300 lg:py-0 mt-2 py-2"
              href="/tags/HTML"
              >Tags category
            </a><a
              class="text-base hover:text-blue-300 text-onyx-300 lg:py-0 mt-2 py-2"
              href="/rss.xml">RSS</a
            >
          </div>
        </div><div class="text-base mt-10" aria-label="quick links">
          <div class="flex flex-col justify-start">
            <p class="text-xl font-medium leading-6 text-white">
              Utility Pages
            </p><a
              class="text-base hover:text-blue-300 text-onyx-300 lg:py-0 mt-2 py-2"
              href="/infopages/faq"
              >FAQ
            </a>
            <a
              class="text-base hover:text-blue-300 text-onyx-300 lg:py-0 mt-2 py-2"
              href="/infopages/terms"
              >Terms Of use
            </a><a
              class="text-base hover:text-blue-300 text-onyx-300 lg:py-0 mt-2 py-2"
              href="/infopages/privacy"
              >Privacy Policy
            </a><a
              class="text-base hover:text-blue-300 text-onyx-300 lg:py-0 mt-2 py-2"
              href="/404">404</a
            >
          </div>
        </div><div class="text-base mt-10" aria-label="quick links">
          <div class="flex flex-col justify-start">
            <p class="text-xl font-medium leading-6 text-white">
              Forms Pages
            </p><a
              class="text-base hover:text-blue-300 text-onyx-300 lg:py-0 mt-2 py-2"
              href="/contact"
              >Contact
            </a>
          </div>
        </div><div class="text-base mt-10" aria-label="quick links">
          <div class="flex flex-col justify-start">
            <p class="text-xl font-medium leading-6 text-white">
              System Pages
            </p><a
              class="text-base hover:text-blue-300 text-onyx-300 lg:py-0 mt-2 py-2"
              href="/system/styleguide">Style Guide</a
            >
            <a
              class="text-base hover:text-blue-300 text-onyx-300 lg:py-0 mt-2 py-2"
              href="https://lexingtonthemes.com/license.html">License</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
