<section class="relative overflow-hidden">
  <div
    class="absolute inset-x-0 top-0 h-96 rotate-180 text-gray-500/20 opacity-60 [mask-image:linear-gradient(to_bottom,transparent,white)]">
    <svg
      class="absolute inset-0 h-full w-full"
      xmlns="http://www.w3.org/2000/svg">
      <defs>
        <pattern
          id="grid-pattern"
          width="32"
          height="32"
          patternUnits="userSpaceOnUse"
          x="50%"
          y="100%"
          patternTransform="translate(0 -1)">
          <path d="M0 32V.5H32" fill="none" stroke="currentColor"></path>
        </pattern>
      </defs>
      <rect width="100%" height="100%" fill="url(#grid-pattern)"></rect>
    </svg>
  </div>
  <div
    class="px-8 pt-32 pb-24 mx-auto md:px-12 lg:px-36 lg:pt-64 max-w-7xl relative">
    <div data-aos="fade-down" data-aos-duration="3000">
      <h1 class="text-4xl lg:text-5xl text-white font-display">
        Aubergine style guide<span class="md:block text-onyx-400">
          Let's get you settled up</span
        >
      </h1>
    </div>
    <div>
      <div>
        <div class="mt-24">
          <p class="text-sm font-medium leading-6 text-white">
            Figtree /<span class="text-onyx-300">
              Clash display / JetBrains Mono</span
            ><span class="text-onyx-300"> Clash display</span>
          </p>
          <div class="mt-6 divide-y divide-onyx-800 border-y border-onyx-800">
            <div class="grid grid-cols-3 items-end lg:grid-cols-4 py-4 lg:py-8">
              <div><span class="text-white">Header 1</span></div>
              <div class="col-span-2 lg:col-span-3">
                <span class="text-4xl lg:text-5xl text-white font-display"
                  >Header 1</span
                >
              </div>
            </div>
            <div class="grid grid-cols-3 items-end lg:grid-cols-4 py-4 lg:py-8">
              <div><span class="text-white">Header 2</span></div>
              <div class="col-span-2 lg:col-span-3">
                <span class="text-4xl text-white font-display">Header 2</span>
              </div>
            </div>

            <div class="grid grid-cols-3 items-end lg:grid-cols-4 py-4 lg:py-8">
              <div><span class="text-white">Link</span></div>
              <div class="col-span-2 lg:col-span-3">
                <span
                  class="text-sm hover:text-onyx-400 text-blue-300 underlined"
                  >Link text</span
                >
              </div>
            </div>
            <div class="grid grid-cols-3 items-end lg:grid-cols-4 py-4 lg:py-8">
              <div><span class="text-white">Subtitle</span></div>
              <div class="col-span-2 lg:col-span-3">
                <span class="text-onyx-300 leading-6 text-lg"
                  >Subtitle text</span
                >
              </div>
            </div>
            <div class="grid grid-cols-3 items-end lg:grid-cols-4 py-4 lg:py-8">
              <div><span class="text-white">Paragraph</span></div>
              <div class="col-span-2 lg:col-span-3">
                <span class="text-onyx-300 text-base"
                  >I am so happy, my dear friend, so absorbed in the exquisite
                  sense of mere tranquil existence, that I neglect my talents.</span
                >
              </div>
            </div>
            <div class="grid grid-cols-3 items-end lg:grid-cols-4 py-4 lg:py-8">
              <div><span class="text-white">Caption</span></div>
              <div class="col-span-2 lg:col-span-3">
                <span class="text-onyx-300 text-sm"
                  >Picture about somethign</span
                >
              </div>
            </div>
            <div class="grid grid-cols-3 items-end lg:grid-cols-4 py-4 lg:py-8">
              <div><span class="text-white">List</span></div>
              <div class="col-span-2 lg:col-span-3">
                <ul
                  class="text-onyx-300 mt-6 list-decimal list-inside space-y-3 text-base"
                  role="list">
                  <li>Next.js and/or Nuxt.js</li>
                  <li>CReact Native .</li>
                  <li>AWS and/or Firebase</li>
                  <li>Familiarity with noSQL databases</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-36 max-w-7xl">
    <div>
      <p class="text-sm font-medium leading-6 text-white">Buttons</p>
      <div class="flex flex-wrap gap-3 mt-6 w-full">
        <a
          class="inline-flex items-center justify-center w-full sm:w-auto px-6 py-4 text-sm text-center duration-500 ease-in-out transform text-onyx-950-700 rounded-xl bg-gradient-to-tr shadow-massive from-indigo-500 via-indigo-400 to-indigo-300 hover:to-indigo-400 focus:outline-none focus:ring-2 focus:ring-offset-onyx-900 focus:ring-offset-2 focus:ring-indigo-300 hover:shadow-none"
          href="/">Primary button</a
        >
        <a
          class="inline-flex items-center justify-center w-full sm:w-auto px-6 py-4 text-sm text-center text-onyx-300 duration-500 ease-in-out transform border border-onyx-800 bg-onyx-900 rounded-xl shadow-massive focus:outline-none focus:ring-2 hover:text-blue-300 focus:ring-offset-2 focus:ring-onyx-300 hover:shadow-none focus:ring-offset-onyx-900"
          href="#benefits"
          >Secondary button
        </a>
        <a
          class="inline-flex items-center justify-center w-full sm:w-auto px-6 py-4 text-sm text-center text-onyx-300 duration-500 ease-in-out transform bg-onyx-800 rounded-xl focus:outline-none focus:ring-2 hover:text-blue-300 focus:ring-offset-2 focus:ring-onyx-300 focus:ring-offset-onyx-900 shadow-massive hover:shadow-none"
          href="#benefits"
          >Tertiary button
        </a>
      </div>
    </div>
  </div>

  <div class="px-8 py-12 mx-auto md:px-12 lg:px-36 max-w-7xl">
    <div>
      <p class="text-sm font-medium leading-6 text-white">Main color palette</p>
      <div class="mt-6 py-4">
        <div class="grid grid-cols-2 lg:grid-cols-3 gap-2">
          <div class="space-y-2">
            <div class="bg-white lg:justify-center rounded-lg p-6"></div>
            <div
              class="bg-gradient-to-tr from-indigo-500 via-indigo-400 to-indigo-300 lg:justify-center rounded-lg p-6">
            </div>
          </div>
          <div>
            <div class="bg-blue-50 lg:justify-center rounded-t-lg p-6"></div>
            <div class="bg-blue-100 lg:justify-center p-6"></div><div
              class="bg-blue-200 lg:justify-center p-6">
            </div><div class="bg-blue-300 lg:justify-center p-6"></div><div
              class="bg-blue-400 lg:justify-center p-6">
            </div><div class="bg-blue-500 rounded-b-lg lg:justify-center p-6">
            </div>
          </div>
          <div>
            <div class="bg-onyx-50 lg:justify-center rounded-t-lg p-6"></div>
            <div class="bg-onyx-100 lg:justify-center p-6"></div><div
              class="bg-onyx-200 lg:justify-center p-6">
            </div><div class="bg-onyx-300 lg:justify-center p-6"></div><div
              class="bg-onyx-400 lg:justify-center p-6">
            </div><div class="bg-onyx-500 lg:justify-center p-6"></div><div
              class="bg-onyx-600 lg:justify-center p-6">
            </div><div class="bg-onyx-700 lg:justify-center p-6"></div><div
              class="bg-onyx-800 lg:justify-center p-6">
            </div><div class="bg-onyx-900 lg:justify-center p-6"></div><div
              class="bg-onyx-950 rounded-b-lg lg:justify-center border border-onyx-800 p-6">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
