<!--<section id="cta" aria-labelledby="call-to-action ">-->
<!--  <div class="px-8 py-24 mx-auto md:px-12 lg:px-36 max-w-7xl">-->
<!--    <div class="text-center lg:mx-auto">-->
<!--      <h2 class="text-4xl lg:text-5xl text-white font-display">-->
<!--        Unleash the full potential of your product <span class="md:block text-onyx-500"-->
<!--          >with expert QA</span-->
<!--        >-->
<!--      </h2>-->
<!--      <p class="mt-5 text-onyx-300 lg:text-xl text-center">-->
<!--        In a 30-minute consultation, we'll identify your quality gaps and provide a tailored solution and quote.-->
<!--      </p>-->
<!--    </div>-->
<!--    <div class="flex flex-wrap gap-3 mt-12 justify-center">-->
<!--      <button-->
<!--        class="inline-flex items-center justify-center w-full sm:w-auto px-6 py-3 text-sm text-center duration-500 ease-in-out transform text-onyx-950-700 rounded-xl bg-gradient-to-tr shadow-massive from-indigo-500 via-indigo-400 to-indigo-300 hover:to-indigo-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-300"-->
<!--        data-cal-config='{"layout":"month_view"}' data-cal-namespace="" data-cal-link="papuna-gagnidze-softhelp/30min">Book a Call</a-->
<!--      >-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
