<footer class="relative border-t border-white/5">
  <div class="relative px-8 py-12 mx-auto max-w-7xl md:px-12 lg:px-32 lg:py-24">
    <div class="xl:grid xl:grid-cols-4 xl:gap-8 space-y-12 lg:space-y-0">
      <div class="text-white">
        <div class="inline-flex items-center gap-3">
          <svg
            class="h-8 w-auto inline-block -ml-2"
            viewBox="0 0 1311 418"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M336.221 95.498C333.201 92.4785 329.106 90.7819 324.836 90.7813L196 90.7813C191.778 90.8546 187.754 92.5833 184.794 95.595C181.835 98.6066 180.176 102.66 180.176 106.883C180.176 111.105 181.835 115.159 184.794 118.171C187.754 121.182 191.778 122.911 196 122.984L308.734 122.984L308.734 235.718C308.697 237.856 309.086 239.98 309.879 241.966C310.671 243.953 311.851 245.761 313.35 247.286C314.849 248.811 316.636 250.023 318.608 250.849C320.58 251.676 322.697 252.102 324.836 252.102C326.974 252.102 329.091 251.676 331.063 250.849C333.035 250.022 334.823 248.811 336.322 247.286C337.82 245.761 339.001 243.953 339.793 241.966C340.585 239.98 340.975 237.856 340.937 235.718V106.883C340.937 102.613 339.24 98.5175 336.221 95.498ZM253.105 170.614C250.086 167.595 245.99 165.898 241.72 165.897L112.885 165.897C108.663 165.971 104.639 167.699 101.679 170.711C98.7191 173.723 97.0606 177.776 97.0606 181.999C97.0606 186.221 98.7191 190.275 101.679 193.287C104.639 196.298 108.663 198.027 112.885 198.1L225.619 198.1L225.619 310.834C225.581 312.972 225.97 315.096 226.763 317.082C227.555 319.069 228.736 320.877 230.234 322.402C231.733 323.927 233.521 325.139 235.493 325.965C237.465 326.792 239.582 327.218 241.72 327.218C243.859 327.218 245.976 326.792 247.948 325.965C249.92 325.139 251.707 323.927 253.206 322.402C254.705 320.877 255.885 319.069 256.677 317.082C257.47 315.096 257.859 312.972 257.822 310.834L257.822 181.999C257.821 177.729 256.125 173.634 253.105 170.614Z"
              fill="#908CAA"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M225.619 198.592L225.619 310.834C225.581 312.972 225.97 315.096 226.763 317.082C227.555 319.069 228.736 320.877 230.234 322.402C231.733 323.927 233.521 325.139 235.493 325.965C237.465 326.792 239.582 327.218 241.72 327.218C243.859 327.218 245.976 326.792 247.948 325.965C249.92 325.139 251.707 323.927 253.206 322.402C254.705 320.877 255.885 319.069 256.677 317.082C257.47 315.096 257.859 312.972 257.822 310.834L257.822 181.999C257.821 178.535 256.705 175.186 254.671 172.433L225.619 198.592ZM308.734 123.754L308.734 235.718C308.697 237.856 309.086 239.98 309.879 241.966C310.671 243.953 311.851 245.761 313.35 247.286C314.849 248.811 316.637 250.023 318.609 250.849C320.581 251.676 322.698 252.102 324.836 252.102C326.974 252.102 329.091 251.676 331.063 250.849C333.035 250.022 334.823 248.811 336.322 247.286C337.821 245.761 339.001 243.953 339.793 241.966C340.586 239.98 340.975 237.856 340.937 235.718V106.883C340.937 103.489 339.865 100.205 337.909 97.4848L308.734 123.754Z"
              fill="black"
              fill-opacity="0.22"></path>
            <!-- <path d="M493.207 280.483C484.392 280.483 476.404 278.72 469.242 275.194C462.19 271.669 456.57 267.371 452.383 262.303L457.838 239.494C460.923 245.665 465.551 251.229 471.721 256.188C477.891 261.146 485.274 263.625 493.868 263.625C501.691 263.625 508.137 261.146 513.206 256.188C518.384 251.229 520.974 245.114 520.974 237.842C520.974 232.553 519.707 228.2 517.172 224.785C514.638 221.369 511.773 218.669 508.578 216.686C505.383 214.703 502.848 213.27 500.975 212.389L482.795 203.133C479.93 201.591 476.349 199.442 472.052 196.688C467.864 193.933 464.173 190.131 460.978 185.283C457.783 180.435 456.185 174.155 456.185 166.442C456.185 158.949 457.893 152.283 461.308 146.443C464.834 140.603 469.683 136.031 475.853 132.725C482.133 129.419 489.295 127.767 497.339 127.767C505.272 127.767 512.269 129.199 518.329 132.064C524.389 134.819 529.127 137.683 532.543 140.658L527.089 163.467C524.334 158.839 520.258 154.487 514.858 150.41C509.459 146.333 503.344 144.294 496.513 144.294C489.902 144.294 484.613 146.278 480.646 150.244C476.679 154.101 474.696 158.894 474.696 164.624C474.696 169.031 475.688 172.667 477.671 175.532C479.764 178.397 482.078 180.656 484.613 182.308C487.257 183.961 489.406 185.228 491.058 186.11L509.57 195.365C511.773 196.467 514.528 198.01 517.833 199.993C521.249 201.976 524.61 204.621 527.915 207.926C531.221 211.122 533.976 215.088 536.179 219.826C538.383 224.454 539.485 230.074 539.485 236.685C539.485 245.169 537.446 252.717 533.37 259.328C529.403 265.939 523.949 271.118 517.007 274.864C510.065 278.61 502.132 280.483 493.207 280.483ZM606.277 280.483C596.691 280.483 587.931 278.169 579.998 273.542C572.064 268.914 565.729 262.688 560.991 254.865C556.363 247.042 554.049 238.393 554.049 228.917C554.049 219.331 556.363 210.681 560.991 202.968C565.729 195.145 572.064 188.919 579.998 184.292C587.931 179.664 596.691 177.35 606.277 177.35C615.973 177.35 624.733 179.664 632.556 184.292C640.489 188.919 646.77 195.145 651.398 202.968C656.136 210.681 658.505 219.331 658.505 228.917C658.505 238.393 656.136 247.042 651.398 254.865C646.77 262.688 640.489 268.914 632.556 273.542C624.733 278.169 615.973 280.483 606.277 280.483ZM606.277 263.625C612.668 263.625 618.452 262.082 623.631 258.997C628.81 255.802 632.942 251.615 636.027 246.436C639.112 241.147 640.655 235.307 640.655 228.917C640.655 222.526 639.112 216.741 636.027 211.562C632.942 206.274 628.81 202.087 623.631 199.001C618.452 195.806 612.668 194.208 606.277 194.208C599.886 194.208 594.101 195.806 588.923 199.001C583.744 202.087 579.612 206.274 576.527 211.562C573.442 216.741 571.899 222.526 571.899 228.917C571.899 235.307 573.442 241.147 576.527 246.436C579.612 251.615 583.744 255.802 588.923 258.997C594.101 262.082 599.886 263.625 606.277 263.625ZM685.733 278.5V194.208H663.255V179.333H686.229V150.906C686.229 140.107 689.424 131.899 695.815 126.279C702.206 120.66 709.809 117.85 718.623 117.85C721.929 117.85 725.29 118.236 728.705 119.007C732.231 119.778 735.537 121.1 738.622 122.974L734.325 140.328C729.697 135.259 724.298 132.725 718.128 132.725C714.381 132.725 710.911 133.992 707.715 136.526C704.63 139.061 703.087 143.964 703.087 151.236V179.333H727.714V194.208H703.583V278.5H685.733ZM755.908 278.5V194.208H733.43V179.333H756.404V146.278H773.262V179.333H797.889V194.208H773.758V278.5H755.908ZM819.472 278.5V129.75H838.314V178.342H891.203V129.75H910.044V278.5H891.203V195.2H838.314V278.5H819.472ZM989.831 280.483C979.474 280.483 970.163 278.169 961.899 273.542C953.746 268.914 947.3 262.633 942.562 254.7C937.934 246.656 935.62 237.731 935.62 227.925C935.62 218.559 937.879 210.075 942.397 202.472C946.914 194.759 952.974 188.644 960.577 184.126C968.29 179.609 976.774 177.35 986.03 177.35C995.175 177.35 1003.55 179.554 1011.15 183.961C1018.75 188.258 1024.82 194.098 1029.33 201.481C1033.85 208.863 1036.11 217.237 1036.11 226.603V233.875H971.32C968.455 233.875 965.535 233.765 962.56 233.544C959.585 233.324 956.666 232.994 953.801 232.553C955.013 241.368 958.979 248.75 965.701 254.7C972.532 260.65 980.631 263.625 989.997 263.625C996.277 263.625 1002.12 262.193 1007.52 259.328C1012.92 256.463 1017.27 252.662 1020.57 247.924L1025.53 268.253C1020.79 272.109 1015.34 275.139 1009.17 277.343C1003.11 279.437 996.663 280.483 989.831 280.483ZM953.305 220.487C959.255 219.496 965.26 219 971.32 219H1004.21C1006.63 219 1009 219.11 1011.32 219.331C1013.74 219.441 1016.17 219.606 1018.59 219.826C1017.05 212.113 1013.19 205.778 1007.02 200.819C1000.85 195.751 993.853 193.217 986.03 193.217C977.986 193.217 970.934 195.916 964.874 201.315C958.814 206.604 954.958 212.995 953.305 220.487ZM1055.73 278.5V119.833H1073.58V278.5H1055.73ZM1101.04 328.083V179.333H1117.57V192.39C1122.09 187.873 1127.32 184.347 1133.27 181.812C1139.22 179.278 1145.61 178.011 1152.44 178.011C1161.59 178.011 1169.85 180.325 1177.23 184.953C1184.73 189.47 1190.68 195.586 1195.08 203.299C1199.6 211.012 1201.86 219.551 1201.86 228.917C1201.86 238.282 1199.6 246.822 1195.08 254.535C1190.68 262.248 1184.73 268.418 1177.23 273.046C1169.85 277.563 1161.59 279.822 1152.44 279.822C1145.94 279.822 1139.83 278.665 1134.1 276.351C1128.37 274.037 1123.3 270.842 1118.89 266.765V328.083H1101.04ZM1150.13 263.625C1156.41 263.625 1162.08 262.082 1167.15 258.997C1172.33 255.802 1176.41 251.615 1179.38 246.436C1182.47 241.147 1184.01 235.307 1184.01 228.917C1184.01 222.526 1182.47 216.741 1179.38 211.562C1176.41 206.274 1172.33 202.087 1167.15 199.001C1162.08 195.806 1156.41 194.208 1150.13 194.208C1143.85 194.208 1138.12 195.806 1132.94 199.001C1127.87 202.087 1123.79 206.274 1120.71 211.562C1117.73 216.741 1116.25 222.526 1116.25 228.917C1116.25 235.307 1117.73 241.147 1120.71 246.436C1123.79 251.615 1127.87 255.802 1132.94 258.997C1138.12 262.082 1143.85 263.625 1150.13 263.625Z" fill="#908CAA"/> -->
          </svg>
        </div>
        <p class="mt-2 text-sm text-vulcan-750">
          <span class="mt-6 text-sm font-normal text-vulcan-750">
            &copy; {new Date().getFullYear()} All rights reserved.
          </span>
        </p>
        <div class="mt-6 flex justify-left space-x-6">
          <a
            href="https://www.linkedin.com/company/softfanacademy"
            class="text-gray-500 hover:text-gray-600"
            target="_blank"
          >
            <span class="sr-only">LinkedIn</span>
            <svg
              class="h-5 w-5"
              aria-hidden="true"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
              ><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z"
              ></path></svg
            >
          </a>
          <a
            href="https://www.facebook.com/softfanacademy"
            class="text-gray-500 hover:text-gray-600"
            target="_blank"
          >
            <span class="sr-only">Facebook</span>
            <svg
              class="h-5 w-5"
              aria-hidden="true"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512"
              ><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"
              ></path></svg
            >
          </a>
          <!-- YouTube -->
          <a
            href="https://www.youtube.com/@SoftFanAcademy"
            class="text-gray-500 hover:text-gray-600"
            target="_blank"
          >
            <span class="sr-only">YouTube</span>
            <svg
              class="h-5 w-5"
              aria-hidden="true"
              fill="currentColor"
              viewBox="0 0 576 512"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M549.7 124.1c-6.3-23.8-24.9-42.5-48.7-48.7C457 64 288 64 288 64s-169 0-213 11.4c-23.8 6.3-42.5 24.9-48.7 48.7C16 168 16 256 16 256s0 88 11.4 131.9c6.3 23.8 24.9 42.5 48.7 48.7C119 448 288 448 288 448s169 0 213-11.4c23.8-6.3 42.5-24.9 48.7-48.7C560 344 560 256 560 256s0-88-11.4-131.9zM232 332V180l140 76-140 76z"
              ></path>
            </svg>
          </a>

          <!-- TikTok -->
          <a
            href="https://www.tiktok.com/@softfan_academy"
            class="text-gray-500 hover:text-gray-600"
            target="_blank"
          >
            <span class="sr-only">TikTok</span>
            <svg
              width="20"
              height="20"
              viewBox="0 0 128 148"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M127.601 36.2857V61.5388C123.179 61.1126 117.455 60.1079 111.1 57.779C102.812 54.7422 96.6394 50.5866 92.6056 47.3672V98.4214L92.5067 98.2615C92.5751 99.2738 92.6056 100.301 92.6056 101.344C92.6056 126.704 71.9799 147.337 46.6127 147.337C21.2454 147.337 0.619873 126.696 0.619873 101.344C0.619873 75.9919 21.2454 55.3435 46.6127 55.3435C49.0939 55.3435 51.5293 55.5414 53.9115 55.9219V80.8173C51.6207 79.9953 49.17 79.5539 46.6127 79.5539C34.6026 79.5539 24.8226 89.3263 24.8226 101.344C24.8226 113.362 34.6026 123.134 46.6127 123.134C58.6227 123.134 68.4028 113.354 68.4028 101.344C68.4028 100.895 68.3952 100.446 68.3648 99.9968V0.780701H93.6102C93.7015 2.91937 93.7928 5.07325 93.8766 7.21193C94.044 11.4208 95.5434 15.4622 98.1539 18.7729C101.221 22.6621 105.742 27.183 112.105 30.7906C118.057 34.1622 123.643 35.6083 127.601 36.2933V36.2857Z"
                fill="currentColor"></path>
            </svg>
          </a>

          <!-- Instagram -->
          <a
            href="https://www.instagram.com/softfan.academy"
            class="text-gray-500 hover:text-gray-600"
            target="_blank"
          >
            <span class="sr-only">Instagram</span>
            <svg
              width="20"
              height="20"
              viewBox="0 0 167 160"
              
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M124.645 0.930908H41.8613C18.9904 0.930908 0.389282 19.532 0.389282 42.4029V118.139C0.389282 141.01 18.9904 159.611 41.8613 159.611H124.645C147.516 159.611 166.117 141.01 166.117 118.139V42.4029C166.117 19.532 147.516 0.930908 124.645 0.930908ZM15.0175 42.4029C15.0175 27.5996 27.058 15.5591 41.8613 15.5591H124.645C139.449 15.5591 151.489 27.5996 151.489 42.4029V118.139C151.489 132.943 139.449 144.983 124.645 144.983H41.8613C27.058 144.983 15.0175 132.943 15.0175 118.139V42.4029Z"
                fill="currentColor"></path>
              <path
                d="M83.2495 118.847C104.522 118.847 121.829 101.54 121.829 80.2672C121.829 58.9947 104.522 41.6874 83.2495 41.6874C61.977 41.6874 44.6697 58.9947 44.6697 80.2672C44.6697 101.54 61.977 118.847 83.2495 118.847ZM83.2495 56.3232C96.4545 56.3232 107.194 67.0623 107.194 80.2672C107.194 93.4722 96.4545 104.211 83.2495 104.211C70.0445 104.211 59.3055 93.4722 59.3055 80.2672C59.3055 67.0623 70.0445 56.3232 83.2495 56.3232Z"
                fill="currentColor"></path>
              <path
                d="M125.406 47.9208C131.137 47.9208 135.803 43.2553 135.803 37.5243C135.803 31.7932 131.137 27.1277 125.406 27.1277C119.675 27.1277 115.01 31.7932 115.01 37.5243C115.01 43.2553 119.675 47.9208 125.406 47.9208Z"
                fill="currentColor"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2 xl:col-span-3">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div class="xl:block mt-0"></div>
          <div class="hidden xl:block mt-0"></div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-white">Resources</h3>
            <ul role="list" class="mt-4 space-y-2">
              <li>
                <a
                  href="/blog/blog"
                  title="link to Blog page"
                  aria-label="SoftHelp Blog"
                  class="text-sm text-vulcan-300 hover:text-white"
                >
                  Blog
                </a>
              </li>
              <li>
                <a
                  href="#services"
                  title="link to Services page"
                  aria-label="SoftHelp Services"
                  class="text-sm text-vulcan-300 hover:text-white"
                >
                  Services
                </a>
              </li>
              <!--<li>-->
              <!--  <a-->
              <!--    href="#"-->
              <!--    title="link to Documentation page"-->
              <!--    aria-label="SoftHelp Documentation"-->
              <!--    class="text-sm text-vulcan-300 hover:text-white"-->
              <!--  >-->
              <!--    Documentation-->
              <!--  </a>-->
              <!--</li>-->
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-white">Company</h3>
            <ul role="list" class="mt-4 space-y-2">
              <li>
                <a
                  href="/info/about"
                  title="link to About page"
                  aria-label="SoftHelp About"
                  class="text-sm text-vulcan-300 hover:text-white"
                >
                  About
                </a>
              </li>
              <li>
                <a
                  href="/contact"
                  title="link to Contact page"
                  aria-label="SoftHelp Contact"
                  class="text-sm text-vulcan-300 hover:text-white"
                >
                  Contact
                </a>
              </li>
              <li>
                <li>
                  <a
                    href="#"
                    title="link to Customers page"
                    aria-label="SoftHelp Customers"
                    class="text-sm text-vulcan-300 hover:text-white"
                  >
                    Customers
                  </a>
                </li>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
