<section>
  <div class="px-8 mx-auto md:px-12 lg:px-36 max-w-7xl">
    <div
      class="grid grid-cols-1 py-12 items-center lg:grid-cols-4 border-y md:grid-cols-2 border-onyx-800 lg:gap-24 ">
      <div class="col-span-full lg:col-span-1 lg:max-w-none lg:mr-auto mx-auto">
        <p class="text-onyx-300 text-xs">
          Some of the mazing companies we have worked with
        </p>
      </div>
      <div class="mt-12 lg:mt-0 md:col-span-3">
        <div class="flex flex-wrap justify-between">
          <img alt="logo" class="h-8" src="/logos/discord.svg" />
          <img alt="logo" class="h-8" src="/logos/zoom.svg" />
          <img alt="logo" class="h-8" src="/logos/classpass.svg" />
          <img
            alt="logo"
            class="h-8 hidden sm:block"
            src="/logos/splunge.svg"
          />
        </div>
      </div>
    </div>
  </div>
</section>
